[user]
  name = joao-victor-lab
  email = 79527341+joao-victor-lab@users.noreply.github.com 
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIBuUINI0HJnKPAa1i+imy3JZBFPwTksHDluWN9pyePg7 joaosan17017vic@gmail.com


[tag]
	gpdsing = true

[commit]
	gpdsing = true

[push]
	autoSetupRemote = true

[init]
  defaultBranch = main

[core]
  editor = lvim
  pager = delta 

[interactive]
   diffFilter = delta --color-only --features=interactive

[delta]
  features = decorations

[delta "interactive"]
  keep-plus-minus-markers = false

[delta "decorations"]
  commit-decoration-style = blue ol
  commit-style = raw
  file-style = omit
  hunk-header-decoration-style = blue box
  hunk-header-file-style = red
  hunk-header-line-number-style = "#067a00"
  hunk-header-style = file line-number syntax

[alias]
	c = commit -s
	s = status
	l = log
	all = add .
	gh =  log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''     %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all


[gpg]
	format = ssh
