[user]
  name = joaovictor
  email = 79527341+joao-victor-lab@users.noreply.github.com

[init]
  defaultBranch = main

[core]
  editor = vim

[core]
  pager = delta

[interactive]
   diffFilter = delta --color-only --features=interactive

[delta]
  features = decorations

[delta "interactive"]
  keep-plus-minus-markers = false

[delta "decorations"]
  commit-decoration-style = blue ol
  commit-style = raw
  file-style = omit
  hunk-header-decoration-style = blue box
  hunk-header-file-style = red
  hunk-header-line-number-style = "#067a00"
  hunk-header-style = file line-number syntax



[gpd]
  format = ssh
  singKey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIJaNzktqq77MUIdNnkqINYAxzPOtripkqeS9acXFTMDW joaosan17017vic@gmail.com

[commit]
  gpdsing = true
