
alias zreload="source ~/.zshrc"
alias bcat="bat --style=auto"
alias ls="exa --icons"
alias la="exa -la --icons"
alias tree="exa --tree -F"
alias ../="cd ../"

alias ecommit="git commit"
alias commit="git commit -m"
alias gadd="git add"
